* {
  padding: 0;
  margin: 0;
  font-size: 20 px;
}

.box-one {
  background-color: red;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid blue;
  margin: 60px;
}

.box-two {
  background-color: yellow;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid green;
  margin: 60px;
}
