
h1{
margin:20px 0px;
padding:20px;
border:1px solid blue;
}
.style-me1{
    color:red;
}
#style-me2{
    color:blue;

    .my-descendants-are-styled p 
    {
    background-color :red;
}
.my-children-are-styled > p{
    background-color: aqua;
}
